<div class="tw-mt-[10rem] tw-h-[15rem] tw-bg-[#0d0050] tw tw-flex tw-flex-col tw-space-y-10 tw-justify-center">

    <ul class="tw-list-none tw-flex tw-justify-center tw-flex-wrap tw-gap-6 tw-font-medium">
        <li *ngFor="let nav of listNav" class="tw-list-none tw-p-0 tw-text-white hover:tw-text-gray-500 tw-cursor-pointer" routerLink="{{nav.path}}">{{nav.title}}</li>
    </ul>

    <div class="tw-flex tw-justify-center tw-space-x-5">
        <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
            <img src="https://img.icons8.com/fluent/30/000000/facebook-new.png" />
        </a>
        <a href="https://linkedin.com" target="_blank" rel="noopener noreferrer">
            <img src="https://img.icons8.com/fluent/30/000000/linkedin-2.png" />
        </a>
        <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
            <img src="https://img.icons8.com/fluent/30/000000/instagram-new.png" />
        </a>
        <a href="https://messenger.com" target="_blank" rel="noopener noreferrer">
            <img src="https://img.icons8.com/fluent/30/000000/facebook-messenger--v2.png" />
        </a>
        <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
            <img src="https://img.icons8.com/fluent/30/000000/twitter.png" />
        </a>
    </div>
    <p class="tw-text-center tw-text-white  tw-font-medium">&copy; 2023 SGU - Saigon University.</p>
</div>