<div>
    <div class="tw-text-center tw-space-y-[1rem]">
        <p-avatar image="{{author.avatar}}" shape="circle" size="xlarge">
        </p-avatar>
        <div class="tw-space-y-[1rem]">
            <h1 class="tw-text-3xl tw-mb-[1rem] tw-text-gray-900">{{author.firstName}} {{author.lastName}} (<span class="tw-text-xl {{author.role === 'ADMIN' ? 'tw-text-red-600' : ''}}">{{author.role}}</span>)</h1>
            <div class="tw-space-y-[1rem]">
                <p-button label="Theo Dõi" *ngIf="!isFollow" [loading]="isLoading" (click)="onFollow(Number(author.id))" icon="pi pi-plus"></p-button>
                <p-button label="Hủy Theo Dõi" styleClass="p-button-danger" [loading]="isLoading" (click)="onUnFollow(Number(author.id))" *ngIf="isFollow" icon="pi pi-minus"></p-button>
                <div class="tw-flex tw-space-x-[1rem] tw-justify-center">
                    <p-button label="Đang Theo Dõi" styleClass="p-button-secondary" [loading]="isLoading" icon="pi pi-users"></p-button>
                    <p-button label="Người Theo Dõi" styleClass="p-button-secondary" [loading]="isLoading"   icon="pi pi-users"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>