<ng-template [ngIf]="this.loadingService.isLoading$ | async" [ngIfElse]="loaded">
    <main-loading></main-loading>
</ng-template>

<ng-template #loaded>
    <div>
        <main-author-information [userName]="userName" [author]="author"></main-author-information>
        <div class="tw-mt-[3rem]">
            <div class="card">
                <p-tabMenu class="tw-text-2xl" [model]="items" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</ng-template>