<ng-template [ngIf]="this.loadingService.isLoading$ | async" [ngIfElse]="loaded">
    <main-loading></main-loading>
</ng-template>

<ng-template #loaded>
        <div class="tw-min-height-[100vh] tw-space-y-[2rem]">
        <div class="tw-flex tw-space-x-[1rem] tw-items-center tw-justify-center">
            <p class="tw-text-gray-500">Ngày Tạo: <i class="tw-text-gray-900 pi pi-calendar"></i> {{series.createdAt |
                date:'short'}}</p>
            <p class="tw-text-gray-500">Ngày Cập Nhật: <i class="tw-text-gray-900 pi pi-calendar"></i> {{series.updatedAt |
                date:'short'}}</p>
        </div>
        <h1 class="tw-text-center tw-text-4xl tw-text-gray-900">{{series.title}}</h1>

        <div class="tw-mt-[2rem] tw-w-full md:tw-w-[80%] lg:tw-w-[70%] tw-mx-auto">
            <div [innerHTML]="series.content" class="main tw-min-h-[50vh] tw-text-lg">
            </div>
            <div class="tw-mt-[4rem]">
                <div *ngIf="series.posts.length < 1">
                    <h2 class="tw-text-2xl tw-text-center">Series này chưa có bài viết nào</h2>
                </div>
                <div *ngIf="series.posts.length > 0">
                    <h2 class="tw-text-xl tw-mb-[1.5rem]">Nội dung</h2>
                    <main-list-post-card [side]="'home'" [listPost]="series.posts"></main-list-post-card>
                </div>
            </div>
        </div>
    </div>
</ng-template>