/* You can add global styles to this fileUploadValidator, and also import other style files */

@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html {
  font-size: 62.5%;
}

html,
body,
applet,
object,
h1,
h2,
h3,
h4,
h5,
h6,
del,
dfn,
img,
ins,
kbd,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

a {
  text-decoration: none
}

:root {
  --primary: "#6610f2";
  --secondary: "#b3b3b3";
}