<div class="tw-p-[1.5rem] tw-space-y-[2rem]">
    <h1 class="tw-text-3xl tw-text-center tw-my-[2rem]">Quản Lý Bài Viết</h1>
    <div class="tw-flex-col tw-space-y-[2rem] md:tw-flex lg:tw-justify-between">
        <p-tabMenu [model]="items" [activeItem]="activeItem" (activeItemChange)="onActiveItemChange($event)"></p-tabMenu>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText (input)="onChangeSearch($event)" />
        </span>
    </div>
    <ng-template [ngIf]="this.loadingService.isLoading$ | async" [ngIfElse]="loaded">
        <main-loading></main-loading>
    </ng-template>
    <ng-template #loaded>
        <div class="tw-space-y-[1rem]">
            <h2 *ngIf="listSeries.length < 1; else hasPost" class="tw-text-center tw-text-xl">KHÔNG CÓ SERIES NÀO</h2>
            <ng-template #hasPost>
                <div class="tw-flex tw-flex-col">
                    <div class="tw-overflow-x-auto">
                        <div class="tw-min-w-full tw-inline-block tw-align-middle">
                            <div class="tw-overflow-hidden tw-shadow-md sm:tw-rounded-lg">
                                <table
                                        class="tw-min-w-full tw-text-sm tw-text-left tw-text-gray-500 dark:tw-text-gray-400">
                                    <thead
                                            class="tw-text-xs tw-text-gray-700 tw-uppercase tw-bg-gray-50 dark:tw-bg-gray-700 dark:tw-text-gray-400">
                                    <tr>
                                        <th scope="col" class="tw-text-center tw-px-6 tw-py-3">ID</th>
                                        <th scope="col" class="tw-text-center tw-px-6 tw-py-3">Series</th>
                                        <th scope="col" class="tw-text-center tw-px-6 tw-py-3">Slug</th>
                                        <th scope="col" class="tw-text-center tw-px-6 tw-py-3">Thao Tác</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let series of listSeries"
                                        class="tw-bg-white tw-border-b dark:tw-bg-gray-800 dark:tw-border-gray-700 hover:tw-bg-gray-50 dark:tw-hover:bg-gray-600">
                                        <th scope="row"
                                            class=" tw-whitespace-nowrap tw-px-6 tw-py-4 tw-font-medium tw-text-gray-900 dark:tw-text-white">
                                            {{series.id}}
                                        </th>
                                        <td class="tw-whitespace-nowrap tw-px-6 tw-py-4">
                                            {{series.title}}
                                        </td>
                                        <td class="tw-whitespace-nowrap tw-px-6 tw-py-4">{{series.slug}}</td>
                                        <td class="tw-cursor-pointer tw-whitespace-nowrap tw-px-6 tw-py-4 tw-flex tw-space-x-[0.5rem]">
                                            <p-button icon="pi pi-pencil" (click)="onPreviewDetail(series.slug)" [loading]="isLoading" label="Xem Chi Tiết"></p-button>
                                            <p-confirmPopup>
                                            </p-confirmPopup>
                                            <p-button styleClass="p-button-danger" (click)="onDeleteSeries(series.id,$event)" [loading]="isLoading"  icon="pi pi-times" label="Xóa"></p-button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </div>
    </ng-template>
    <p-paginator (onPageChange)="onChangePageIndex($event)" [first]=0 [rows]=10
                 [totalRecords]=totalPage*10></p-paginator>
</div>

<p-dialog header="Preview" [(visible)]="seriesDetailVisible" [style]="{width: '50vw',height:'80vh'}">
    <ng-template *ngIf="isLoading;else hasSeries">
        <main-loading></main-loading>
    </ng-template>
    <ng-template  #hasSeries>
        <div class="tw-space-y-[2rem] tw-full">
            <div class="tw-space-y-[1rem]">
                <h1 class="tw-text-3xl tw-font-semibold tw-text-center">{{series?.title}} </h1>
            </div>
            <div class="tw-space-y-[1rem]">
                <p [innerHTML]="series?.content"></p>
            </div>
            <div class="tw-space-y-[1rem]">
                <p class="tw-font-semibold tw-text-xl">Các bài viết của series</p>
                    <ul class="tw-space-y-[1.5rem]"  *ngFor="let post of series?.posts">
                        <li>
                            <div class="tw-flex tw-items-center tw-justify-between">
                                <h2 routerLink="/bai-viet/{{post.slug}}" class="tw-font-light tw-cursor-pointer">{{post.title}}</h2>
                                <div>
                                    <p-button styleClass="p-button-danger"  label="Gỡ" icon="pi pi-times" [loading]="isRemoveLoading" (click)="onRemovePost(post.id,series?.id)" ></p-button>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
        </div>
    </ng-template>
</p-dialog>