<div class="tw-p-[2rem] tw-h-auto tw-w-full">
    <h1 class="tw-text-2xl tw-text-gray-900 tw-text-center tw-mb-4">ĐỔI MẬT KHẨU</h1>
    <form [formGroup]="changePasswordForm" class="tw-space-y-[2rem]">
        <div class="tw-flex tw-flex-col tw-space-y-[0.5rem]">
            <label>Mật khẩu hiện tại</label>
            <input type="password" class="hover:tw-border-gray-900" pInputText formControlName="oldPassword"/>
            <ng-container *ngIf="changePasswordForm.controls?.['oldPassword']?.touched && changePasswordForm.controls?.['oldPassword']?.dirty">
                <small *ngIf="changePasswordForm.controls?.['oldPassword']?.errors?.['required']" class="tw-ml-2 tw-text-red-600">Mật khẩu hiện tại không được để trống</small>

            </ng-container>
        </div>
        <div class="tw-flex tw-flex-col tw-space-y-[0.5rem]">
            <label>Mật khẩu mới</label>
            <input type="password" class="hover:tw-border-gray-900" pInputText formControlName="newPassword"/>
            <ng-container *ngIf="changePasswordForm.controls?.['newPassword']?.touched && changePasswordForm.dirty">
                <small *ngIf="changePasswordForm.controls?.['newPassword']?.errors?.['required']" class="tw-ml-2 tw-text-red-600">Mật khẩu mới không được để trống</small>
                <small *ngIf="changePasswordForm.controls?.['newPassword']?.errors?.['minlength']" class="tw-ml-2 tw-text-red-600">Độ dài tối thiểu là 6</small>
                <small *ngIf="changePasswordForm.controls?.['newPassword']?.errors?.['maxlength']" class="tw-ml-2 tw-text-red-600">Độ dài tối đa là 50</small>
                <small *ngIf="changePasswordForm.controls?.['newPassword']?.errors?.['whitespace']" class="tw-ml-2 tw-text-red-600">Không được sử dụng dấu khoảng trắng</small>
            </ng-container>
        </div>
            <div class="tw-flex tw-flex-col tw-space-y-[0.5rem]">
                <label>Nhập lại mật khẩu</label>
                <input type="password" class="hover:tw-border-gray-900" pInputText  formControlName="confirmPassword"/>
                <ng-container *ngIf="changePasswordForm.controls?.['confirmPassword']?.touched && changePasswordForm.dirty">
                    <small *ngIf="changePasswordForm.controls?.['confirmPassword']?.errors?.['required']" class="tw-ml-2 tw-text-red-600">Nhập lại mật khẩu không được để trống</small>
                    <small *ngIf="changePasswordForm.controls?.['confirmPassword']?.errors?.['minlength']" class="tw-ml-2 tw-text-red-600">Độ dài tối thiểu là 6</small>
                    <small *ngIf="changePasswordForm.controls?.['confirmPassword']?.errors?.['maxlength']" class="tw-ml-2 tw-text-red-600">Độ dài tối đa là 50</small>
                    <small *ngIf="changePasswordForm.controls?.['confirmPassword']?.errors?.['whitespace']" class="tw-ml-2 tw-text-red-600">Không được sử dụng dấu khoảng trắng</small>
                    <small *ngIf="changePasswordForm.controls?.['confirmPassword']?.errors?.['passwordsMatch']" class="tw-ml-2 tw-text-red-600">Mật khẩu không trùng khớp</small>
                </ng-container>
            </div>
        <div class="tw-text-right">
            <p-button label="Cập Nhật" type="submit" (onClick)="onChangePassword()" [disabled]=this.changePasswordForm.invalid [loading]="isLoading"></p-button>
        </div>
    </form>
</div>
