<header>
    <div class="tw-h-[4rem] tw-w-full tw-px-2 md:tw-px-4 tw-bg-[#0d0050] tw-flex tw-justify-between tw-items-center">
        <div>

        </div>
        <div class="tw-flex">
            <ng-container *ngIf="userInfo !== null">
                <div class="tw-flex tw-items-center  tw-space-x-[1.5rem]">
                    <div class="tw-flex tw-space-x-[0.5rem] tw-cursor-pointer tw-items-center" (click)="op.toggle($event)">
                        <p-avatar class="tw-ml-4" size="large" shape="circle" image="{{userInfo.avatar ? userInfo.avatar : 'https://w7.pngwing.com/pngs/867/694/png-transparent-user-profile-default-computer-icons-network-video-recorder-avatar-cartoon-maker-blue-text-logo.png'}}"></p-avatar>
                        <p class="tw-text-base tw-text-white">{{userInfo.firstName}} {{userInfo.lastName}}</p>
                    </div>
                </div>
                <p-overlayPanel #op>
                    <ng-template pTemplate="content">
                        <ul class="tw-list-none tw-p-0 tw-space-y-[1rem]">
                            <li class="tw-text-gray-500 hover:tw-text-gray-900 tw-cursor-pointer" routerLink="/">TRANG CHỦ</li>
                            <p-divider></p-divider>
                            <li (click)="logout()" class="tw-text-green-500 hover:tw-text-green-900 tw-cursor-pointer" routerLink="/">ĐĂNG XUẤT</li>
                        </ul>
                    </ng-template>
                </p-overlayPanel>
            </ng-container>
        </div>
    </div>
</header>