<div class="tw-p-[2rem] tw-space-y-[1rem] tw-h-auto tw-w-full">
    <h1 class="tw-text-2xl tw-text-gray-900 tw-text-center tw-mb-4">QUẢN LÝ BÀI VIẾT</h1>
    <div class="tw-flex-col tw-space-y-[2rem] md:tw-flex lg:tw-justify-between">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText (input)="onChangeSearch($event)" />
        </span>
        <div><p-button icon="pi pi-plus" label="Thêm Mới Bài Viết" routerLink="/nguoi-dung/tao-bai-viet"></p-button></div>
    </div>
    <div class="tw-space-y-[1rem]">
        <h2 *ngIf="!listPost; else hasPost" class="tw-text-center tw-text-xl">KHÔNG CÓ BÀI VIẾT NÀO</h2>
      <ng-template #hasPost>
          <p-table [value]="listPost" [loading]="isLoading" [tableStyle]="{'min-width': '50rem'}">
              <ng-template pTemplate="header" let-columns>
                  <tr>
                      <th>ID</th>
                      <th style="width:40%">Bài Viết</th>
                      <th style="width:25%">Trạng Thái</th>
                      <th style="width:15%">Tag</th>
                      <th style="width:15%">Lượt Xem</th>
                      <th style="width:15%">Lượt Thích</th>
                      <th style="width:15%">Lượt Bình Luận</th>
                      <th style="width:15%">Chi Tiết</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-post let-columns="columns">
                  <tr>
                      <td>{{post.id}}</td>
                      <td>{{post.title}}</td>
                      <td><p-tag [rounded]="true" severity="{{post.published ? 'success' : 'danger'}}" value="{{post.published ? 'Đang hoạt động' : 'Ngưng hoạt động'}}"></p-tag></td>
                      <td><p-tag *ngFor="let tag of post.tags" [rounded]="true" severity="primary" value="{{tag.title}}"></p-tag></td>
                      <td>{{post.totalLike}}</td>
                      <td>{{post.totalView}}</td>
                      <td>{{post.totalComment}}</td>
                      <td>XEM</td>
                  </tr>
              </ng-template>
          </p-table>
          <p-paginator (onPageChange)="onChangePageIndex($event)" [first]=0 [rows]=totalPage [totalRecords]=totalPage></p-paginator>
      </ng-template>
    </div>
</div>