<div class="tw-p-[2rem] tw-space-y-[1rem] tw-h-auto tw-w-full">
        <h1 class="tw-text-2xl tw-text-gray-900 tw-text-center tw-mb-4">QUẢN LÝ BÀI VIẾT</h1>
        <div class="tw-flex-col tw-space-y-[2rem] md:tw-flex lg:tw-justify-between">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText (input)="onChangeSearch($event)" />
            </span>
            <div><p-button icon="pi pi-plus" label="Thêm Mới Bài Viết" routerLink="tao-bai-viet"></p-button></div>
        </div>

        <ng-template [ngIf]="this.loadingService.isLoading$ | async" [ngIfElse]="loaded">
            <main-loading></main-loading>
        </ng-template>
        <ng-template #loaded>
            <div class="tw-space-y-[1rem]">
                <h2 *ngIf="listPost.length < 1; else hasPost" class="tw-text-center tw-text-xl">KHÔNG CÓ BÀI VIẾT NÀO</h2>
                <ng-template #hasPost>
                        <p-table  [value]="listPost" [loading]="isLoading">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th>ID</th>
                                    <th >Bài Viết</th>
                                    <th >Trạng Thái</th>
                                    <th >Tag</th>
                                    <th >Lượt Xem</th>
                                    <th >Lượt Thích</th>
                                    <th >Lượt Bình Luận</th>
                                    <th >Thao Tác</th>
                                    <th >Chi Tiết</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-post let-columns="columns">
                                <tr>
                                    <td>{{post.id}}</td>
                                    <td>{{post.title}}</td>
                                    <td><p-tag [rounded]="true" severity="{{post.published ? 'success' : 'danger'}}" value="{{post.published ? 'Đang hoạt động' : 'Ngưng hoạt động'}}"></p-tag></td>
                                    <td><ul class="tw-list-none tw-p-0 tw-space-x-[0.1rem] tw-space-y-[0.1rem]">
                                        <p-tag *ngFor="let tag of post.tags" [rounded]="true" severity="primary" value="{{tag.title}}"></p-tag>
                                    </ul></td>
                                    <td>{{post.totalLike}}</td>
                                    <td>{{post.totalView}}</td>
                                    <td>{{post.totalComment}}</td>
                                    <td class="tw-cursor-pointer" routerLink="sua-bai-viet/{{post.slug}}">SỬA</td>
                                    <td>XEM</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    <p-paginator (onPageChange)="onChangePageIndex($event)" [first]=0 [rows]=10 [totalRecords]=totalPage*10></p-paginator>
                </ng-template>
            </div>
        </ng-template>
 </div>