 <div class="tw-p-[2rem] tw-space-y-[1rem] tw-h-auto tw-w-full">
        <h1 class="tw-text-2xl tw-text-gray-900 tw-text-center tw-mb-4">QUẢN LÝ SERIES</h1>
        <div><p-button icon="pi pi-plus" label="Thêm Mới Series" routerLink="tao-series"></p-button></div>
     <ng-template [ngIf]="this.loadingService.isLoading$ | async" [ngIfElse]="loaded">
         <main-loading></main-loading>
     </ng-template>
     <ng-template #loaded>
           <div class="tw-space-y-[1rem]">
               <h2 *ngIf="listSeries.length < 1; else hasSeries" class="tw-text-center tw-text-xl">KHÔNG CÓ SERIES NÀO</h2>
               <ng-template #hasSeries>
                   <div class="tw-flex tw-flex-col">
                       <div class="tw-overflow-x-auto">
                           <div class="tw-min-w-full tw-inline-block tw-align-middle">
                               <div class="tw-overflow-hidden tw-shadow-md sm:tw-rounded-lg">
                                   <table
                                           class="tw-min-w-full tw-text-sm tw-text-left tw-text-gray-500 dark:tw-text-gray-400">
                                       <thead
                                               class="tw-text-xs tw-text-gray-700 tw-uppercase tw-bg-gray-50 dark:tw-bg-gray-700 dark:tw-text-gray-400">
                                       <tr>
                                           <th scope="col" class="tw-text-center tw-px-6 tw-py-3">ID</th>
                                           <th scope="col" class="tw-text-center tw-px-6 tw-py-3">Series</th>
                                           <th scope="col" class="tw-text-center tw-px-6 tw-py-3">Thao Tác</th>
                                       </tr>
                                       </thead>
                                       <tbody>
                                       <tr *ngFor="let series of listSeries"
                                           class="tw-bg-white tw-border-b dark:tw-bg-gray-800 dark:tw-border-gray-700 hover:tw-bg-gray-50 dark:tw-hover:bg-gray-600">
                                           <th scope="row"
                                               class=" tw-whitespace-nowrap tw-px-6 tw-py-4 tw-font-medium tw-text-gray-900 dark:tw-text-white">
                                               {{series.id}}
                                           </th>
                                           <td class="tw-whitespace-nowrap tw-px-6 tw-py-4">
                                               {{series.title}}
                                           </td>
                                           <td class="tw-whitespace-nowrap tw-px-6 tw-py-4 tw-flex tw-items-right tw-space-x-[0.5rem]">
                                               <p-button routerLink="sua-series/{{series.slug}}" icon="pi pi-pencil" label="Cập Nhật"></p-button>
                                               <p-confirmPopup>
                                               </p-confirmPopup>
                                               <p-button styleClass="p-button-danger" (click)="onDeleteSeries(series.id,$event)" [loading]="isLoading"  icon="pi pi-times" label="Xóa"></p-button>
                                           </td>
                                       </tr>
                                       </tbody>
                                   </table>
                               </div>
                           </div>
                       </div>
                   </div>
               </ng-template>
           </div>
       </ng-template>
    </div>
